body {
  margin: 0;
  padding: 0;
}

.Beyinc-logo {
  background: transparent;
  width: 100%;
}

.Beyinc-logo img {
  height: auto;
  width: 200px;
  margin-left: 60px;
  margin-top: 10px;
}

.sign-button {
  background: #ff6824;
  border-radius: 15px;
  width: 140px;
  position: fixed;
  top: 6%;
  right: 5%;
  transform: translate(0, -50%);
}

.sign-button:hover {
  background: linear-gradient(35deg, #ff6824 0%, #656fff 100%);
}

/* section-1 */

.home,
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -8%;
}

.home img {
  display: none;
}
.home h1 {
  font-size: 50px;
  font-family: "BasierCircleBold", sans-serif;
  font-weight: 600;
  color: #212529;
  margin-bottom: 10px;
}

.home h3 {
  font-size: 35px;
  font-family: "BasierCircleMedium", sans-serif;
  margin-top: 15px;
  background: linear-gradient(35deg, #ff6824 0%, #656fff 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.playstore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.playstore img {
  width: 12%;
  height: auto;
  margin: 10px;
}

.poweredby {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: grey;
}

.poweredby-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.poweredby-img img {
  width: auto;
  height: 30px;
  margin: 0 5px;
}

/* section-2 */

.section-2 h1 {
  font-size: 50px;
  font-family: "BasierCircleBold", sans-serif;
  font-weight: 600;
  background: linear-gradient(90deg, #e800fe 3.31%, #191fff 76.1%);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 15px;
  display: inline-block;
}
.section-2 span {
  font-size: 50px;
  font-family: "BasierCircleBold", sans-serif;
  font-weight: 600;
}

.section-2 p {
  margin-bottom: 15px;
  font-family: "BasierCircleBold", sans-serif !important;
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 37px;
  color: #343239;
  line-height: 1.2;
}

.container {
  position: relative;
  overflow: hidden;
  background: url("./section2bg.png") center center/cover;
  width: 1150px;
  height: 480px;
  border-radius: 30px;
  margin-bottom: 20px;
  
}

.container .content {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  z-index: 1;
  color: #ffffff;
  text-align: left;
}

.container .content h2 {
  width: 100%;
  font-size: 48px;
  font-family: "BasierCircleBold", sans-serif !important;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: left;
}
.container .content p {
  width: 45%;
  font-size: 18px;
  font-family: "BasierCircleRegular", sans-serif !important;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: left;
  color: white;
}

.container img {
  width: 28.5%;
  height: auto;
  display: block;
  left: 55%;
  top: 7%;
}

.right-image {
  position: relative;
  z-index: 0;
}

@media (max-width: 768px) {
  .Beyinc-logo img {
    width: 50%;
    margin-left: 10px;
  }

  .sign-button {
    width: 125px !important;
    margin-top: 5px;
  }

  /* section-1 */

  .home {
    margin-top: -10px;
  }
  .home img {
    display: block;
    height: 250px;
    width: 250px;
    margin-top: 25px;
  }

  .home h1 {
    font-size: 24px;
    margin-top: 25px;
  }

  .home h3 {
    font-size: 16px;
  }

  .playstore img {
    width: 35%;
  }

  .poweredby {
    font-size: 12px;
    color: grey;
  }
  .poweredby-img img {
    height: 16px;
  }

  /* section-2 */
  .section-2 h1,.section-2 span{
    font-size: 30px;
  }
  
  .section-2 p{
    font-size: 16px;
    margin-left: 7% ;
    width: 85%;
  }
  .container {
    width: 90%; 
    height: 570px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .container .content {
    left: 5%;
    text-align: center !important;
  }

  .container .content h2 {
    text-align: center;
    font-size: 30px;
    margin-top: -280px !important;
    width: 100%;
  
  }
  .container .content p{
    font-size: 16px;
    width: 270px !important;
    text-align: center;
    line-height: 22px;
  }

  .container img {
    width: 68% !important; 
    top: 45%;
    left: 11%;
  }
}
