body {
  background: #f6f8fc !important;
}

.profile-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.individualUserContainer {
  width: 1100px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.Top-Notch {
  align-self: flex-start;
}

.Top-Notch span {
  background: #0095f6;
  color: white;
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;
}

.fas.fa-users {
  background: #cccccc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.fas.fa-users:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.indiUserDetailsContainer {
  width: 100%;
  background: white;
  margin-top: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.location-info div {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 100 !important;
}

.indiPitchDesc h2 {
  margin-top: 10px;
  text-align: center;
}

.indiPitchDesc .about {
  border: none;
  padding: 0px 20px;
  font-size: 14px;
  width: 92% !important;
  text-align: justify;
  margin: auto;
}

.individualUserContainer .commentsContainer {
  width: 97%;
  background: white;
  margin-top: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.User-Top-Details {
  display: flex;
  gap: 0px;
}

.profile {
  width: 250px !important;
  height: 250px !important;
  border-radius: 50%;
  margin-top: 10px;
}

.userscontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 10px;
}
.userscontainer {
  flex: 1 0 75%;
  /* padding: 10px; */
  background: white;
}
.singleUser {
  padding: 25px;
  border: 5px solid rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;

  height: 180px;
  min-width: 200px;

  max-width: 300px;
}
/* .singleUserWrapper:hover {
  background: rgba(238, 238, 238, 0.596);
} */

.usersContainer {
  background: #f0f0f0;
  padding: 10px;
}
.usersWrapper {
  max-width: 1300px;
  margin: auto;
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */
}

.usersWrapper .filterContainer {
  flex: 1 0 20%;
  padding: 10px;
}

.fas.fa-star {
  color: goldenrod;
}

.indiUserDetails {
  border: 1px solid rgba(128, 128, 128, 0.473);
  padding: 15px;
  border-radius: 10px;
}

.indiUserHeading {
  font-size: 28px;
  font-weight: 600;
  width: 700px;
  margin-left: 30px;
}

.sendIcon {
  cursor: pointer;
  font-size: 13px;
  width: auto !important;
  padding: 3px 3px !important;
}

@media (max-width: 760px) {
  .individualUserContainer {
    width: 350px !important;
  }
  .Top-Notch {
    align-self: flex-start;
  }

  .User-Top-Details .profile {
    width: 250px !important;
    height: 250px !important;
    align-self: center;
  }

  .indiUserHeading {
    width: 300px !important;
    margin-left: 0px !important;
  }
  .Top-Notch span {
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }

  .fas.fa-users {
    padding: 6px;
    border-radius: 5px;
    margin-top: 5px;
  }

  .User-Top-Details {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .usersWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .usersContainer {
    margin: auto;
  }

  .individualUserContainer .commentsContainer {
    width: 315.9px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .indiUserHeading {
    font-size: 16px;
    font-weight: 600;
    width: 400px;
    margin-top: -40px;
    margin-left: 10px;
  }

  .indiUserHeading img {
    width: 10px !important;
    height: 10px !important;
    margin-top: 10px;
  }
  .reviewInterestContainer {
    margin-bottom: -10px;
    margin-top: -10px;
    font-size: 12px;
  }

  .writing-review {
    margin-top: 15px !important;
    flex-direction: column;
    align-self: flex-start !important;
  }
  .writing-review .textarea {
    width: 250px !important;
  }
  .writing-review .sendIcon {
    width: 262px !important;
    margin-right: 0px !important;
    transform: translateY(-20px) !important;
  }
  .sendIcon {
    margin-top: 0px;
    margin-right: 50px;
    width: 50px !important;
  }
}
