.userscontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 10px;
}
.userscontainer {
  flex: 1 0 75%;
  /* padding: 10px; */
  background: white;
}
.singleUser {
  padding: 25px;
  border: 5px solid rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  

  height: 180px;
  min-width: 200px;

  max-width: 300px;
}
/* .singleUserWrapper:hover {
  background: rgba(238, 238, 238, 0.596);
} */

.usersContainer {
  background: #f0f0f0;
  padding: 10px;
}
.usersWrapper {
  max-width: 1300px;
  margin: auto;
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */
}

.usersWrapper .filterContainer {
  flex: 1 0 20%;
  padding: 10px;
}

.fas.fa-star{
  color: goldenrod;
}

@media (max-width: 760px) {
    .usersWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .usersContainer{
        margin: auto;
    }
}


.indiUserDetailsContainer{
  width: 900px;
  margin: auto;
  background: white;
  transform: translateY(-30px);
  border-radius: 10px;

}

.indiUserDetails {
  border: 1px solid rgba(128, 128, 128, 0.473);
  padding: 15px;
  border-radius: 10px;
  
}

.indiUserHeading {
  font-size: 28px;
  font-weight: 600;
  width: 700px;
  margin-left: 30px;
}
