.livePitchesContainer {
  background: #f0f0f0;
  padding: 10px;
}
.livePitchesWrapper {
  width: 1300px;
  margin: auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.livePitchesWrapper .filterContainer {
  flex: 1 0 20%;
  padding: 10px;
}
.pitchcontainer {
  flex: 1 0 75%;
  /* padding: 10px; */
}

.filterContainer,
.pitchcontainer {
  background: white;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filterContainer .filterHeader {
  font-size: 18px;
}
.tagFilter {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.tagFilter .inputTag input[type="text"], .inputTag select {
  width: 200px !important;
  padding: 10px !important;
}
input[type='checkbox']{
  width: 20px !important;
}
.inputTag {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}
.inputTag select{
  min-width: 220px !important;
}
.inputTag i {
  transform: translate(-20px, -5px);
}
.singlePitch {
  padding: 25px;
  border-bottom: 1px solid rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.singlePitchWrapper:hover {
  background: rgba(238, 238, 238, 0.596);
}
.singlePitch .desc {
  font-size: 15px;
}
.tags span {
  color: #007fed;
}

.bgPitch {
  width: 100vw;
  height: 150px;
}
.bgPitch img {
  width: 98%;
  height: 100%;
  object-fit: fill;
}

.indiPitchDetailsContainer{
  width: 900px;
  margin: auto;
  background: white;
  transform: translateY(-30px);
  border-radius: 10px;
}


.indiPitchDetails {
  border: 1px solid rgba(128, 128, 128, 0.473);
  padding: 15px;
  border-radius: 10px;
}


.commentsContainer{
  width: 865px;
  margin: auto;
  background: white;
   border: 1px solid rgba(128, 128, 128, 0.473);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.indiPitchHeading {
  font-size: 28px;
  font-weight: 600;
  width: 700px;
}

.indiPitchDate,
.indiPitchDesc,
.indiPitchId {
  padding: 10px 0px;
  font-size: 14px;
}
.indiPitchDate{
    font-weight: 400;
}
.indiPitchId {
  font-size: 12px;
}

.star-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.star {
  font-size: 24px;
  color: #ffd700; /* Yellow color for filled stars */
  margin-right: 5px;
}

.star.empty {
  color: #ccc; /* Gray color for empty stars */
}

.star.half-filled {
  position: relative;
  color: #ffd700; /* Yellow color for filled stars */
}

.star.half-filled::before {
  content: "★";
  position: absolute;
  left: 0;
  top: -2.5px;
  mask: linear-gradient(to left, #ffd700 50%, transparent 50%);
  color: #ccc; /* Gray color for empty part of the star */
}

.average-rating {
  margin-left: 10px;
  font-weight: bold;
}


.IndicommentsSection{
  display: flex;
  gap: 20px;
}

.IndicommentsSectionDetails{
  flex: 1 0 auto;
}
.IndicommentsSectionImage img{
  height: 60px;
  width: 60px;
}

.IndicommentsSectionDetailsUserName{
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.IndicommentsSectionDetailsUserName i{
  font-size: 14px;
}
.IndicommentsSectionDetailsdate{
font-size: 10px;
}


.reviewIntrestContainer{
  display: flex; 
  flex-direction: column;
  gap: 5px;
}

.headingIntrested{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intrestButton{
  padding: 5px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
}
.intrestButton.addIntrest{
    border: 1px dashed green;
    color: green;
    cursor: pointer;
}
.intrestButton.removeIntrest{
    border: 1px dashed red;
    white-space: nowrap;
    color: red;
    cursor: pointer;
}



.indiPitchHiringPositions{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  margin: 5px 0px;
}
.hp{
  padding: 3px;
  border: 1px dashed green;
}