body {
  /* background: #f6f8fc; */
}
.Notch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.individualPitchContainer {
  width: 1100px !important;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}



.Top-Notch span {
  background: #6a73fa;
  color: white;
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;
}
.livePitchesContainer {
  background: #f0f0f0;
  padding: 10px;
}
.livePitchesWrapper {
  margin: auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.pitchcontainer {
  flex: 1 0 75%;
}

.filterContainer,
.pitchcontainer {
  background: white;
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 220px;
  padding: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 20px;
}
.filterContainer .filterHeader {
  font-size: 18px;
}
.tagFilter {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.tagFilter .inputTag input[type="text"],
.inputTag select {
  width: 200px !important;
  padding: 10px !important;
}
input[type="checkbox"] {
  width: 20px !important;
}
.inputTag {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}
.inputTag select {
  min-width: 220px !important;
}
.inputTag i {
  transform: translate(-20px, -5px);
}
.singlePitch {
  padding: 25px;
  border-bottom: 1px solid rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.singlePitchWrapper:hover {
  background: rgba(238, 238, 238, 0.596);
}
.singlePitch .desc {
  font-size: 15px;
}
.tags span {
  color: #007fed;
}

.indiPitchDetailsContainer {
  width: 100%;
  background: white;
  margin-top: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
}

.indiPitchDetails {
  border: 1px solid rgba(128, 128, 128, 0.473);
  padding: 15px;
  border-radius: 10px;
}

.commentsContainer {
  width: 97%;
  margin: auto;
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.473);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 0px;
  margin-bottom: 30px !important;
}

.indiPitchHeading {
  font-size: 28px;
  font-weight: 600;
  width: 700px;
}

.indiPitchDate,
.indiPitchId {
  padding: 10px 0px;
  font-size: 14px;
}
.indiPitchDate {
  font-weight: 400;
}
.indiPitchId {
  font-size: 12px;
}
.indiPitchId a {
  color: #545454;
  text-decoration: none;
}

.star-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.star {
  font-size: 24px;
  color: #ffd700;
  margin-right: 5px;
}

.star.empty {
  color: #ccc;
}

.star.half-filled {
  position: relative;
  color: #ffd700;
}

.star.half-filled::before {
  content: "★";
  position: absolute;
  left: 0;
  top: -2.5px;
  mask: linear-gradient(to left, #ffd700 50%, transparent 50%);
  color: #ccc;
}

.average-rating {
  margin-left: 10px;
  font-weight: bold;
}

.IndicommentsSection {
  display: flex;
  gap: 8px;
}
.IndicommentsSectionDetailscomment{
  word-wrap: break-word;
  max-width: 750px;
  width: auto;
}

.IndicommentsSectionDetails {
  flex: 1 0 auto;
}
.IndicommentsSectionImage img {
  height: 40px;
  width: 40px;
}

.IndicommentsSectionDetailsUserName {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.IndicommentsSectionDetailsUserName i {
  font-size: 14px;
}
.IndicommentsSectionDetailsdate {
  font-size: 10px;
}

.reviewInterestContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.headingIntrested {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intrestButton {
  width: 220px;
  padding: 5px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
}
.intrestButton.addIntrest {
  border: 1px dashed green;
  color: green;
  cursor: pointer;
}
.intrestButton.removeIntrest {
  border: 1px dashed red;
  white-space: nowrap;
  color: red;
  cursor: pointer;
}

.indiPitchHiringPositions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  margin: 5px 0px;
}

.indiPitchHeading {
  font-size: 20px;
  font-weight: 600;
  white-space: normal;
}

@media (max-width: 768px) {
  .individualPitchContainer {
    width: 330px !important;
  }
  .Top-Notch {
    align-self: flex-start;
  }

  .IndicommentsSectionDetailscomment{
  word-wrap: break-word;
  max-width: 150px;
  width: auto;
}


  .individualPitchContainer .commentsContainer {
    width: 300.9px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .indiPitchDate {
    font-size: 10px;
  }

  .commentsContainer img {
    margin-left: 0px;
  }

  .writing-review {
    margin-top: 15px !important;
    flex-direction: column;
    align-self: flex-start !important;
  }
  .writing-review .textarea {
    width: 250px !important;
  }
  .writing-review .sendIcon {
    width: 262px !important;
    margin-right: 0px !important;
    transform: translateY(-20px) !important;
  }
  .sendIcon {
    margin-top: 0px;
    margin-right: 50px;
    width: 50px !important;
  }
  .reviewIntrestContainer {
    margin-top: 5px;
  }
  .indiPitchHeading {
    font-size: 20px;
    font-weight: 600;
    white-space: wrap;
    width: auto;
  }

  .intrestButton {
    width: 150px !important;
    padding: 5px;
    border: 1px solid gray;
    display: flex;
    margin: 10px 0px !important;
    font-size: 14px !important;
    justify-content: center;
  }
  .indiPitchHeading .fas.fa-eye {
    margin-left: 5px !important;
    border-radius: 50%;
    padding: 5px;
    background: rgba(128, 128, 128, 0.39);
    /* width: 100%; */
  }
}
