.toastStyles{
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    position: fixed;
    top: 0;
    line-break: auto;
    height: auto;
    border-radius: 20px;
    margin-top: 40px;
    z-index: 999;
    /* margin: auto; */
}

@media (max-width: 768px) {
    .toastStyles{
        padding: 8px 10px !important;
        width: 280px !important;
        margin-top: 2px !important;
     }
 }