
.update-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f0f0f0;
    align-items: center;
}

.update-heading{
    margin-top: -10px;
    margin-bottom: 10px;
    color: #6a73fa;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    width: 1100px;
    margin: auto;
    
    padding: 20px;
    margin-top: 20px;
    gap:20px;
    font-weight: 600;
    font-size: 18px;
}

.resume{
    border: none;
}

.profile-content{
  flex: 1; 
    
}

.update-form-container {
    width: 1100px;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
}

.update-form {
    margin-top: 20px;
    width: 350px;
    margin-left: 10px;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    text-align:left;
    justify-content: left;
    font-weight: 600;
}

.input-container {
    position: relative;
    margin-bottom: 10px;
   
}

.otp_button {
    width: 20%;
    padding: 5px; 
    background-color:  #3b82f6;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 290px;
}




@media (max-width: 768px) {
    .update-heading{
        margin-top: 0px;
    }
    .form-container {
      width: 80%;
    }
    .update-container{
      flex-direction: column;
      gap: -10px;
      width: 100%;
    } 
    input[type='text'], input[type='email'] {
       width: 80% !important; 
    }
    button{
               width: 89% !important; 

    }
    .successIcons{
    position: absolute;
    right: 50px;
    top: 14px;
    height: 20px;
    width: 20px;
    }
    
    .update-form-container {
      width: 82%;
      margin-top: 10px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-left: 10px;
    }
  }
  

