.login-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  height: 100vh;
}

.login-hero {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding-top: 25px;
  padding-bottom: 30px;
}

/* header style */
.login-page .login-header {
  text-align: center;
}

.login-logo {
  width: 100%;
  height: max-content;
  margin: 0;
}

.login-page .login-header p,
.login-page .login-header button {
  margin-bottom: 15px;
}

.login-page .login-header > p {
  font-weight: bold;
  color: #8e8e8e;
  font-size: 18px;
}

.login-page .login-header > button {
  width: inherit;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0095f6;
  color: #ffffff;
}

.login-page .login-header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #8e8e8e;
}

.login-page .login-header div p {
  padding: 0 20px;
}

.login-page .login-header div hr {
  width: 200px;
}

/* login-container style*/
.login-page .login-container {
  display: flex;
  flex-direction: column;
}

.login-page .login-container form,
input {
  width: inherit;
}

.login-page .login-container form input {
  width: 95%;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  padding: 10px 5px;
  margin: 5px 0;
}

.login-page .login-container form input:last-of-type {
  margin-bottom: 10px;
}

.login-page .login-container form button {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  background-color: #0095f6;
  color: #ffffff;
}

.login-page .login-container ul {
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}

.login-page .login-container ul li {
  display: inline;
  color: #8e9096;
}

.login-page .login-container ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #8e9096;
}

/* login-option style */
.login-option p > a {
  text-decoration: none;
  color: #00a0f7;
}

/* login-otherapps style */
.login-otherapps {
  text-align: center;
}

.login-otherapps p {
  margin-bottom: 15px;
}

.login-otherapps > button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 18px;
}

/* login-footer style */
.login-footer {
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}

.login-footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.login-footer ul li {
  display: inline;
  margin-right: 10px;
}
.login-footer ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #00376b;
}

.login-footer p {
  margin: 10px 0;
  text-align: center;
  color: #8e9096;
  font-size: 14px;
}

/* Mobile Styles */

@media only screen and (max-width: 635px) {
  .login-otherapps button {
    margin-bottom: 5px;
  }

  .login-otherapps button:after-of-type {
    margin-bottom: none;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-family: Freight Sans;
  }

  .login-page {
    width: 250px;
    background-color: #fafafa;
  }

  .login-page .login-header {
    width: inherit;
    margin-top: 10px;
  }

  .login-page .login-container {
    width: inherit;
  }

  .login-option {
    margin: 80px 0;
  }

  .login-page .login-container input {
    padding: 10px 5px;
    margin: 5px 0;
  }

  .login-page .login-footer {
    width: inherith;
  }
  .login-otherapps button {
    margin-bottom: 5px;
  }

  .login-otherapps button:after-of-type {
    margin-bottom: none;
  }
}

@media only screen and (min-width: 401px) {
  body {
    font-family: Neue Helvetica;
  }
  .login-page {
    border: 1px solid #dbdbdb;
    width: 350px;
    background-color: white;
    margin: 40px 40px 10px 40px;
  }

  .login-page .login-header {
    width: 270px;
  }

  .login-page .login-container {
    width: 270px;
  }

  .login-option {
    border: 1px solid #dbdbdb;
    background-color: white;
    width: 350px;
    height: 70px;
    margin-top: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-otherapps {
    margin: 20px 0;
  }

  .login-otherapps button {
    margin-right: 5px;
  }

  .login-otherapps button:after-of-type {
    margin-right: none;
  }

  .login-page .login-footer {
    width: 100%;
  }
}

.login-option-text {
  margin: 0;
}
.login-image {
  width: 600px;
  height: fit-content;
}

@media only screen and (max-width: 1020px) {
  .login-image {
    display: none;
  }
}
