body[data-theme="dark"] {

    --body-background: #1D2A35;
    --text-total-color: #fff;
}

body[data-theme="light"] {
    --body-background: #fff;
    --text-total-color: #212529;
}

body {
  font-family: "Google Sans Text", sans-serif;
  background: var(--body-background);
  color: var(--text-total-color);
}
i {
  cursor: pointer;
}

.login-logo {
  cursor: pointer;
  height: 80px;
  width: 150px;
}

.form-container {
  max-width: 450px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 70px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  width: 350px;
  margin: auto;
  justify-content: center;
}

p {
  margin-top: 10px;
  text-align: center;
}

.login-type-toggle span.active {
  text-decoration: underline;
  color: #3b82f6;
  font-size: 18px;
  font-weight: bold;
}

.registration-form-container {
  width: 450px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 70px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
  width: 350px;
  margin: auto;
  justify-content: center;
}

label {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  text-align: left;
  justify-content: left;
  font-weight: 600;
}

.input-container {
  position: relative;
  margin-bottom: 10px;
}

input,
select {
  width: 330px;
  outline: 0;
  padding: 15px;
  margin-bottom: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input.valid {
  outline: 0;
  padding: 15px;
  margin-bottom: 5px;
  border: 2px solid green;
  border-radius: 3px;
}

input.invalid {
  outline: 0;
  padding: 15px;
  margin-bottom: 5px;
  border: 2px solid red;
  border-radius: 3px;
}

.validation-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: #4caf50;
}

.otp_button {
  width: 20%;
  padding: 5px;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 290px;
}

.login-type-toggle {
  text-align: center;
  margin-bottom: 5px;
}

.login-type-toggle span {
  cursor: pointer;
  margin: 0 10px;
}

button:disabled {
  background-color: #3b82f6 !important;
  cursor: not-allowed;
}

button {
  width: 360px;
  padding: 15px;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #1e4bb8;
}

.invalid input {
  border: 1px solid red;
}

.valid input {
  border: 2px solid green;
}

.success-message {
  margin-top: 10px;
  padding: 10px;
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  border-radius: 3px;
}

.successIcons {
  position: absolute;
  right: -4px;
  top: 14px;
  height: 20px;
  width: 20px;
}

.Loading {
  align-items: center;
  justify-content: center;
  margin-top: 25%;
  font-size: 16px;
}

.Loading img {
  width: 15%;
  margin-left: 45%;
  height: 15%;
  margin-top: -7%;
}

.loadingSubmit {
  background: rgba(248, 245, 245, 0.47);
  position: absolute;
  z-index: 2000 !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* mix-blend-mode: color-burn; */
}

.loadingContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1400 !important;
  background: #ece9e990;
  overflow-y: hidden !important;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  margin: auto;
  margin-top: 350px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: black;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 black;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 black;
  }
  50% {
    box-shadow: 0 0 0 black;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 black;
    margin-top: 0;
  }
}
.pitch-container {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 35%;
}

.no-requests {
  height: 450px;
  width: 450px;
  margin-top: -30px;
}

.form-container {
  width: 80%;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  left: -4px !important;
  background: white !important;
  top: -5px !important;
}

.back-button {
  background: grey;
}
.back-button:hover {
  background: rgb(169, 161, 161);
}

.reject-button {
  background: red;
}
.reject-button:hover {
  background: rgb(204, 20, 20);
}

input[type="radio"] {
  width: 23px !important;
}
input[type="radio"] + label {
  font-weight: 400;
  font-size: 15px;
  margin-top: -3px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  /* background-color: #f1f1f1; */
}

.spin {
  animation: spin 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  input[type="email"],
  input[type="password"],
  input[type="text"], input[type="number"]  {
    /* width: 280px !important; */
  }
  

  .Loading {
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    font-size: 16px;
    margin-right: 30px;
  }

  .Loading img {
    width: 40%;
    height: 15%;
    margin-top: 50%;
    margin-left: 38%;
  }
}
