@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Poppins';
  font-weight: 400;

  
}


h1, h2, h3, h4, h5 {
  font-family: 'Poppins';
  font-weight: 700;
}




code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}
